
// fonts

$body-family: 'Open Sans', sans-serif;
$heading-family: 'Poppins', sans-serif;
$body-copy: 18px;

// colors

$primary: hsl(322, 100%, 66%);
$pale-cyan: hsl(193, 100%, 96%);
$dark-yan: hsl(192, 100%, 9%);
$grayish-blue: hsl(208, 11%, 55%);
