// compileCompressed: ../../dist/css/$1.min.css
@import "variables";
@import "mixins";
@import "base";

body {
  margin: 0;
  padding: 0;
  font-size: $body-copy;
  color: $dark-cyan;
}

h1,
h3,
h2 {
  font-family: $heading-family;
  font-weight: 600;
}

p,
a,
span {
  font-family: $body-family;
}

a {
  text-decoration: none;
}

.btn {
  display: block;
  position: relative;
  text-align: center;
  font-weight: 700;
  font-size: $mobile-buttons;
  border-radius: 60px;
  box-shadow: 0 1px 10px hsla(0, 0%, 0%, 0.05), 0 1px 10px hsla(0, 0%, 0%, 0.05);
  cursor: pointer;
  @include media($extra-large) {
    height: 45px;
  }
}

.welcome-screen {
  @include flex(flex, flex-start, center, column);
  height: auto;
  width: 100vw;
  background: 	hsl(191, 89%, 96%) url('../img/bg-hero-mobile.svg');
  @include media($medium) {
   background: 	hsl(191, 89%, 96%) url('../img/bg-hero-desktop.svg');
  }
  @include media($extra-large) {
   height: 100vh;
  }

  &__hero {
    display: inline-block;
    width: 80vw;
    margin: 0;
    @include media($medium) {
      width: 40vw;
      margin: 50px 0;
    }
    @include media($extra-large) {
      width: 60vw;
    }
  }
}

.header {
  @include flex(flex, space-between, center);
  width: 100%;
  @include media($medium) {
  height: 15vh;
  }

  &__logo {
  width: 110px;
  margin: 5% 0 0 5%;
  @include media($medium) {
    width: 200px;
    margin: 0 0 0 5vw;
  }
  }

  &__try-button {
    @include flex(flex, center, center)
    background: hsl(0, 0%, 100%);
    width: 120px;
    color: $dark-cyan;
    margin: 5% 5% 0 0;
    height: 43px;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.08);
    }
    @include media($medium) {
      width: 190px;
      margin: 0 5vw 0 0;
    }
  }
}

.wrapper {
  @include media($medium) {
    @include flex(flex, center, center, column);
  }

  @include media($extra-large) {
    @include flex(flex, space-around, center, row);
    width: 100%;
    height: calc(100vh - 150px);

  .intro {
    width: 33vw;
    text-align: left;
    align-items: flex-start;
  }

  img {
    max-width: 50vw;
  }
  }

}
.intro {
  @include flex(flex, flex-start, center, column);
  text-align: center;
  width: 80vw;

  &__heading {
    font-size: $heading-mobile;
    padding-top: 15%;
    @include media($medium) {
      font-size: $heading-desktop;
      padding-top: 0;
      width: 60%;
    }
    @include media($extra-large) {
      width: 100%;
    }
  }

  &__desc {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.5em;
    @include media($medium) {
      width: 70%;
    }
    @include media($extra-large) {
      line-height: 1.8em;
      width: 100%;
    }
  }

  &__get-started {
    @include btn-primary;
  }
}

.cards {
  @include flex(flex, flex-start, center, column);
  width: 100%;
}

.card {
  // @include flex(flex, center, flex-start, column-reverse);
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 90%;
  padding: 20px 15px;
  margin: 0 0 10%;
  box-shadow: 0px 3px 11px hsla(0, 0%, 0%, 0.1);
  border-radius: 10px;

  &.first, &.second, &.third {
    @include flex(flex, flex-start, center, column-reverse);
    @include media($medium) {
      flex-direction: row;
      h3 {
        font-size: 1.5em;
      }
    }
  }

  &.second {
    @include media($medium) {
      flex-direction: row-reverse;
    }
  }

  &__desc {
    text-align: center;
    @include media($medium) {
      width: 40%;
      text-align: left;
      padding: 8%;
    }
  }

  &__img {
    width: 80%;
    @include media($medium) {
      width: 30%;
    }
  }

  &.first {
    margin-top: 10%;
  }
}

.call-to-action {
  @include flex(flex, center, center, column);
  margin: 0 auto;
  text-align: center;
  background: hsl(0, 0%, 100%);
  transform: translate(0, 50%);
  @include media($medium) {
    width: 60%;
    padding: 2% 2%;
  }
  @include media($extra-large) {
    width: 50%;
    padding: 2% 2%;
  }

  &__heading {
    font-size: 0.9em;
    @include media($medium) {
      font-size: 1.6em;
    }
  }

  &__btn {
    @include btn-primary;
    margin: 0 0 .83em 0;
  }
}


.footer {
  background-color: $dark-cyan;
  padding: 130px 5% 2% 5%;
  @include media($medium) {
    @include flex(flex, space-between, flex-start);
    padding: 20% 5% 0 5%;
  flex-wrap: wrap;
  }
  @include media($extra-large) {
    // @include flex(flex, space-around, flex-start);
    padding: 15% 10% 0 10%;
  flex-wrap: wrap;
  }
  span, a, i, p {
    color: hsla(0, 0%, 100%, 0.8);
    font-size: 0.9em;
  }
  a {
    transition: all 0.3s ease;
    &:hover {
      color: hsla(0, 0%, 100%, 0.6);
    }
  }


  .footer_logo {
    img{
      width: 160px;
    }
    width: 100%;
    padding-bottom: 20px;
  }

  .footer_address {
    @include flex(flex, flex-start, flex-start, column);
    padding-bottom: 30px;
    @include media($medium) {
      width: 35%;
    }

    &__wrap {
      @include flex(flex, flex-start, flex-start);
      padding-bottom: 15px;

      img {
        padding-right: 30px;
        padding-top: 4px;
        width: 20px;
      }

      span {
        line-height: 1.5em;
      }
    }
  }

  &__links {
    @include flex(flex, flex-start, flex-start, column);
    @include media($medium) {
      width: 15%;
    }
    a {
      padding-bottom: 15px;
    }
  }

  &__social {
    @include flex(flex, center, center);
    padding-top: 30px;
    @include media($medium) {
      width: 15%;
      padding-top: 0;
    }
    a {
      @include flex(flex, center, center);
      min-width: 30px;
      min-height: 30px;
      border: 1px solid 	hsl(0, 0%, 100%);
      border-radius: 15px;
      margin: 7px;
      &:hover {
        transform: scale(1.2);
      }
      transition: all 0.3s ease;
    }
  }

  .attribution {
    font-size: 11px;
    text-align: center;
    @include media($medium) {
      width: 100%;
      text-align: right;
    }
    a {
      color: rgba($primary, 0.8);
     }
  }

}
